@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary: #b19cd9;
  --primary-dark: #a183d8;

  --read-clr: #91e9a0;
  --unread-clr: #f0d49f;
  --delete-clr: #d17777;

  --transparent: rgba(255, 255, 255, 0.7);
  --transparent-accent: rgb(0, 0, 0, 0.3);
  --transparent-shadow-accent: rgb(0, 0, 0, 0.3);

  --book-card-bkg: rgba(0, 0, 0, 0.05);
  --author-txt-clr: rgba(0, 0, 0, 0.7);
  --pages-txt-clr: rgba(0, 0, 0, 0.6);

  --bkg-main: #fff;
  --txt-clr-main: rgb(14, 13, 13);
  --focus-border: #000;

  --placeholder-clr: #a9a9ac;

  font-size: 16px;
}

::placeholder {
  color: var(--placeholder-clr);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid transparent;
  background: var(--bkg-main);
}

input[type="checkbox"] {
  margin: 0.5em;
}

input[type="text"],
input[type="submit"],
input[type="number"],
input[type="url"] {
  border-radius: 0.5em;
  outline: 0;
}

input:focus,
.btn:focus {
  border: 1px solid var(--focus-border);
}

.btn {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid transparent;
  border-radius: 0.5em;
  outline: 0;
  cursor: pointer;
  color: #fff;
  background: var(--primary);
  transition: background 150ms ease-in;
}

.btn:hover {
  background: var(--primary-dark);
}

.readBtn {
  font-weight: bold;
  color: var(--focus-border);
  background: var(--unread-clr);
}

.readBtn:hover {
  background: var(--read-clr);
}

.active-reading {
  background: var(--read-clr);
}

.active-reading:hover {
  background: var(--unread-clr);
}

.deleteBtn {
  font-weight: bold;
  background: var(--delete-clr);
}

.deleteBtn:hover {
  background: #c01919;
}

.disappear {
  opacity: 0;
}

.hidden {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: var(--bkg-main);
  color: var(--txt-clr-main);
}

.container {
  width: 100%;
}

#nav-bar {
  display: grid;
  grid-template-columns: max-content auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.25em;
  margin: 0 0.25em;
  background: var(--transparent);
  border-bottom: 1px solid var(--transparent-accent);
}

#nav-bar > span {
  padding: 0 0.25em;
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.logo-img {
  width: 1.5rem;
}

.logo-text {
  display: none;
}

#new-book {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  width: max-content;
}

#display-options {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
}

#display-options label {
  padding-right: 0.5em;
}

#book-form-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--transparent);
  display: none;
  opacity: 0;
  transition: all 250ms ease-in;
}

#book-form-screen.form-screen-enter {
  display: block;
}

#book-form-screen.form-screen-enter-active {
  opacity: 1;
}

form#add-book {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: clamp(15rem, 50vw, 30rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bkg-main);
  box-shadow: 3px 3px 5px 2px var(--transparent-shadow-accent);
  border: 1px solid var(--transparent-shadow-accent);
  padding: 1em;
  border-radius: 0.5em;
}

form#add-book label[for="read"] {
  display: flex;
  justify-content: center;
}

#add-book input:not([type="submit"]) {
  border: 1px solid var(--transparent-accent);
}

#bookImg {
  font-size: 1rem;
  padding: 0.75em 0.5em;
}

.form-element {
  position: relative;
  height: 2.5em;
  margin-bottom: 1em;
}

.form-element input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1em;
}

.form-element .input-label {
  position: absolute;
  top: 0.4em;
  left: 0;
  pointer-events: none;
  padding: 0.5em;
  transition: all 250ms ease-in;
  color: var(--placeholder-clr);
}

#add-book input:focus + .input-label,
#add-book input:valid + .input-label {
  transform: translateY(-30%);
  font-size: 0.8rem;
  left: 1em;
  padding: 0 0.5em;
  background: var(--bkg-main);
}

#add-book input:focus + .input-label {
  color: var(--primary);
}

#add-book input:valid + .input-label {
  color: var(--transparent-accent);
}

#add-book input:focus {
  border: 1px solid var(--primary);
}

#add-book .form-element.input:valid {
  border: 1px solid var(--transparent-accent);
}

.book-card {
  background: var(--book-card-bkg);
  border-radius: 0.5em;
  width: 95%;
  display: flex;
  padding: 0.5em;
  margin: 0.5em;
  transition: opacity 250ms ease-in;
}

.book-card img {
  display: none;
}

.bookCard-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.book-info {
  margin-bottom: 0.5em;
}

.book-info > * {
  padding: 0;
  margin: 0;
}

.bookStatus {
  display: flex;
  margin-top: auto;
}

.bookStatus > * {
  margin: 0.25em;
  flex: 1;
}

@media (min-width: 350px) {
  .logo-text {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

@media (min-width: 568px) {
  .container {
    max-width: 100em;
  }

  .book-card {
    width: clamp(10.75rem, 25vw, 12.5rem);
    flex-direction: column;
    align-items: center;
  }

  .book-card img {
    display: block;
    width: 100%;
  }

  .bookCard-info {
    padding: 0.5em 0 0 0;
  }
}

/* Styling for book info (title, author, pages)*/
.title {
  font-weight: bold;
}

.author {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--author-txt-clr);
}

.pages {
  font-size: 0.7rem;
  color: var(--pages-txt-clr);
}

#library {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.note-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.note {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding: 0 0.5em;
}

/* Dark Mode */

body.dark {
  --primary: #a183d8;
  --primary-dark: #8258cf;

  --read-clr: #71df84;
  --unread-clr: #dfb76e;
  --delete-clr: #c46060;

  --transparent: rgba(0, 0, 0, 0.7);
  --transparent-accent: rgb(255, 255, 255, 0.5);
  --transparent-shadow-accent: rgb(255, 255, 255, 0.1);

  --book-card-bkg: rgba(255, 255, 255, 0.1);
  --author-txt-clr: rgba(255, 255, 255, 0.7);
  --pages-txt-clr: rgba(255, 255, 255, 0.6);

  --bkg-main: rgb(14, 13, 13);
  --txt-clr-main: #fbfbfd;
  --focus-border: #000;
}
