*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid transparent;
}

input[type="checkbox"] {
  margin: 0.5em;
}

input[type="text"],
input[type="submit"],
input[type="number"],
input[type="url"] {
  border-radius: 0.5em;
  outline: 0;
}

input:focus {
  border: 1px solid black;
}

.btn {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 0;
  border-radius: 0.5em;
  outline: 0;
  cursor: pointer;
  color: #fff;
  background: #b19cd9;
}

.btn:hover,
.btn:focus {
  background: #9680be;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-height: 100vh;
  position: relative;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.25em;
  margin: 0 0.25em;
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

#nav-bar > span {
  padding: 0 0.25em;
}

#book-form-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  display: none;
  opacity: 0;
  transition: all 250ms ease-in;
}

#book-form-screen.form-screen-enter {
  display: block;
}

#book-form-screen.form-screen-enter-active {
  opacity: 1;
}

form#add-book {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(236, 236, 236);
  padding: 1em;
  border-radius: 0.5em;
}

form#add-book label[for="read"] {
  display: flex;
  justify-content: center;
}
